<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Used Car System-1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>/jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.itcast.demo07_utils.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByPid</display-name>
    <servlet-name>FindProductByPid</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindProductByPid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByPid</servlet-name>
    <url-pattern>/FindProductByPid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductToCartServlet</display-name>
    <servlet-name>AddProductToCartServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.AddProductToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductToCartServlet</servlet-name>
    <url-pattern>/AddProductToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartsServlet</display-name>
    <servlet-name>ClearCartsServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.ClearCartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartsServlet</servlet-name>
    <url-pattern>/ClearCartsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductFromCartsServlet</display-name>
    <servlet-name>RemoveProductFromCartsServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.RemoveProductFromCartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductFromCartsServlet</servlet-name>
    <url-pattern>/RemoveProductFromCartsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderConfirmServlet</display-name>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.OrderConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <url-pattern>/OrderConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderPayServlet</display-name>
    <servlet-name>OrderPayServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.OrderPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPayServlet</servlet-name>
    <url-pattern>/OrderPayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllOrdersByUserServlet</display-name>
    <servlet-name>FindAllOrdersByUserServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindAllOrdersByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllOrdersByUserServlet</servlet-name>
    <url-pattern>/FindAllOrdersByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderReciveServlet</display-name>
    <servlet-name>OrderReciveServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.OrderReciveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderReciveServlet</servlet-name>
    <url-pattern>/OrderReciveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelOrderByOid</display-name>
    <servlet-name>DelOrderByOid</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.DelOrderByOid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelOrderByOid</servlet-name>
    <url-pattern>/DelOrderByOid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductBySearchName</display-name>
    <servlet-name>FindProductBySearchName</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindProductBySearchName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductBySearchName</servlet-name>
    <url-pattern>/FindProductBySearchName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageAction</display-name>
    <servlet-name>ImageAction</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.ImageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageAction</servlet-name>
    <url-pattern>/ImageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangImage</display-name>
    <servlet-name>ChangImage</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.ChangImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangImage</servlet-name>
    <url-pattern>/ChangImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductImageServlet</display-name>
    <servlet-name>AddProductImageServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.AddProductImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductImageServlet</servlet-name>
    <url-pattern>/AddProductImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllProduct</display-name>
    <servlet-name>FindAllProduct</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllProduct</servlet-name>
    <url-pattern>/FindAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllProductServlet</display-name>
    <servlet-name>FindAllProductServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllProductServlet</servlet-name>
    <url-pattern>/FindAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProductByPid</display-name>
    <servlet-name>DelProductByPid</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.DelProductByPid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProductByPid</servlet-name>
    <url-pattern>/DelProductByPid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditImageurlByPid1</display-name>
    <servlet-name>EditImageurlByPid1</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.EditImageurlByPid1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditImageurlByPid1</servlet-name>
    <url-pattern>/EditImageurlByPid1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditImageurlByPid2</display-name>
    <servlet-name>EditImageurlByPid2</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.EditImageurlByPid2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditImageurlByPid2</servlet-name>
    <url-pattern>/EditImageurlByPid2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllCategoryServlet</display-name>
    <servlet-name>FindAllCategoryServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindAllCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllCategoryServlet</servlet-name>
    <url-pattern>/FindAllCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dynamic_category</display-name>
    <servlet-name>Dynamic_category</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.Dynamic_category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dynamic_category</servlet-name>
    <url-pattern>/Dynamic_category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryServlet</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.EditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/EditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCategoryByCid</display-name>
    <servlet-name>DelCategoryByCid</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.DelCategoryByCid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCategoryByCid</servlet-name>
    <url-pattern>/DelCategoryByCid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dynamic_category_2</display-name>
    <servlet-name>Dynamic_category_2</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.Dynamic_category_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dynamic_category_2</servlet-name>
    <url-pattern>/Dynamic_category_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByCategoryName</display-name>
    <servlet-name>FindProductByCategoryName</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindProductByCategoryName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByCategoryName</servlet-name>
    <url-pattern>/FindProductByCategoryName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllUsersServlet</display-name>
    <servlet-name>FindAllUsersServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUsersServlet</servlet-name>
    <url-pattern>/FindAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllUsersServlet1</display-name>
    <servlet-name>FindAllUsersServlet1</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindAllUsersServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUsersServlet1</servlet-name>
    <url-pattern>/FindAllUsersServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet1</display-name>
    <servlet-name>EditUserServlet1</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.EditUserServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet1</servlet-name>
    <url-pattern>/EditUserServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserByUid</display-name>
    <servlet-name>DelUserByUid</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.DelUserByUid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserByUid</servlet-name>
    <url-pattern>/DelUserByUid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllOrdersServlet</display-name>
    <servlet-name>FindAllOrdersServlet</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.FindAllOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllOrdersServlet</servlet-name>
    <url-pattern>/FindAllOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailOrders</display-name>
    <servlet-name>DetailOrders</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.DetailOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailOrders</servlet-name>
    <url-pattern>/DetailOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailOrdersForUser</display-name>
    <servlet-name>DetailOrdersForUser</servlet-name>
    <servlet-class>cn.itcast.demo01_servlet.DetailOrdersForUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailOrdersForUser</servlet-name>
    <url-pattern>/DetailOrdersForUser</url-pattern>
  </servlet-mapping>
</web-app>